/*Navbar Style*/
.brand{
    height: 100%;
}
.navbar {
    min-height: 70px;
    background-color: #ffffff;
}
.navbar-header{
    min-height: 70px;
}
.navbar-brand{
    min-height: 70px;
    padding: 5px;
    padding-left: 20px;
}
.navbar-nav{
    min-height: 70px;
}
.navbar-right{
    margin-right: 10%;
}
@media screen and (max-width: 765px), screen and (max-height : 500px){
    .navbar-right{
        margin-right: 0;
        margin-bottom: 0;
    }
    .navbar-li{
        margin:0 !important;
    }
    .navbar-a{
        padding: 0 !important;
    }
}
.icon-bar {
    background-color: #000;
}
.navbar-toggle{
    min-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px !important;
}
.icon-bar{
    width: 40px !important;
}
.navbar-toggle .icon-bar + .icon-bar{
    margin-top: 7px !important;
}
.navbar-li{
    min-height: 70px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}
.navbar-a {
    min-height: 70px;
    line-height: 70px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-size: 18px;
    color:#000;
}
.navbar-a:after{
    content: '';
    position: absolute;
    border-bottom: 2px solid #90A4AE;
    bottom: 0;
    left: 0;
    right: 100%;
    transition: all 500ms;
}
.navbar-a:hover:after{
   right:0;
}


.navbar-a:hover{
    color:#191919;
}
.navbar{
    border-bottom-width: 1px;
    border-color: black;
}
.navbar-collapse{
    padding: 0;
}
body {
    padding-top: 70px;               /*Body top padding for the sliding topbar*/
    font-family: 'Nanum Gothic', sans-serif;
}

/*End of the navbar style*/


/*Div1 style*/
.div1 {
    background-image: url("https://alessandrocavaglia.github.io/IMG/test4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 70px);
    padding: 0;
    position: relative;
    background-position: center;
}
.div1BigText
{
    color:#fff;
    font-size: 75px;
    position: absolute;
    top: 30%;
    transform: translateY(-40%);
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
}
.Animationc
{
    border-right: 3px solid ;
    animation: blink-caret .8s step-end infinite;
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
}
/*End of Div1 style*/

/*Div2 style*/
.div2{
    padding-bottom: 3%;
}
.AboutMe{
    padding-top: 3%;
    padding-left: 3%;
    font-size: 11vw;
}
.Mystory{
    font-size: 3vw;
}
.Myself{
    width: 30vw;
    border: solid 3px;
    border-radius: 50%;
    float: left;
    margin-right: 2%;
    margin-bottom: 1%;
}
/*End of Div2 style*/

/*Div3 style*/
.div3{
   /* height: 80vh; */
    background-image:url("../IMG/starry-night-871287410454UmtH.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 4px 30px 2px grey;
}
.Div3t{
    display: flex;
    align-items: center;
}
.Div3tcolumn{
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    border-bottom: solid 1px;
    padding-bottom: 1vh;
}
.MySkills{
    padding-top: 3%;
    padding-left: 3%;
    font-size: 9vw;
}
.Icon{
    color: white;
}
.Icon:hover{
    color:#90A4AE;
    cursor: pointer;
}
.Icon_Active{
    color:#90A4AE;
}
.Skill{
    color: #ffffff;
}
.Skillc{
    min-height: 60vh;
    display: flex;
    align-items: center;
}
/*End of Div3 style*/

/*Start of Div4 style*/
.Div4{
    background-color: white;
    box-shadow: inset 0 4px 30px -7px grey;
    padding-bottom: 4%;
}
.Portfolio{
    padding-top: 3%;
    padding-left: 3%;
    font-size: 11vw;
}
.Website{
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 100%;
    border-bottom: solid 1px  #e1e1e1;
    border-left: solid 1px  #e1e1e1;
    border-right: solid 1px #e1e1e1;
}
.Website-Container{
    margin-top: 7%;
    position: relative;
}
.Text-Over-Website{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0%;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: #040404b3;
    transition: visibility 0s, opacity 0.2s linear;
    opacity: 0;
    text-align: center;
    padding: 2%;
    display: flex;
    align-items: center;
}
.Website-Text{
    color: white;
    text-decoration: none;
}
#Elena:hover #Elena2{
    opacity: 1;
}
#Tigliole:hover #Tigliole2{
    opacity: 1;
}
#Astimec:hover #Astimec2{
    opacity: 1;
}
#Sfondi:hover #Sfondi2{
    opacity: 1;
}
/*End of Div4 style*/

/*Start of footer style*/
.Footer{
    background-color: black;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    height: 10vh;
    display: flex;
    align-items: center;
}

/*End of footer style*/

/*Mobile Phone */
@media screen and (max-width: 765px), screen and (max-height : 500px){
    .div1{
        box-shadow: 0 4px 30px -2px gray;
    }
    .div1BigText{
        font-size: 50px;
    }
    .div1NormalText{
        font-size: 30px;
    }
    .AboutMe{
        font-size: 15vw;
    }
    .Myself{
        width: 45vw;
    }
    .Mystory{
       font-size:7vw;
    }
    .Div3t{
        display: inline-block;
    }
    .MySkills{
        font-size:16vw;
    }
    .Iconc{
        font-size: 7vw;
    }
    .Skill {
        font-size: 8vw;
    }
    .Portfolio{
        font-size: 15vw;
    }
    .Website-Text{
        font-size: 6vw !important;
        padding: 3%;
    }
}
/*Col md */
@media (max-width: 1200px) {
    .Div3t{
        display: inherit;
    }
    .MySkills{
        text-align: center;
    }
    .Website-Text{
        font-size: 3vw;
    }
}
svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
}
.colored{
    color:#90A4AE;
}