/*Navbar Style*/
.brand{
    height: 100%;
}
.navbar {
    min-height: 70px;
    background-color: #ffffff;
}
.navbar-header{
    min-height: 70px;
}
.navbar-brand{
    min-height: 70px;
    padding: 5px;
    padding-left: 20px;
}
.navbar-nav{
    min-height: 70px;
}
.navbar-right{
    margin-right: 10%;
}
@media screen and (max-width: 765px), screen and (max-height : 500px){
    .navbar-right{
        margin-right: 0;
        margin-bottom: 0;
    }
    .navbar-li{
        margin:0 !important;
    }
    .navbar-a{
        padding: 0 !important;
    }
}
.icon-bar {
    background-color: #000;
}
.navbar-toggle{
    min-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px !important;
}
.icon-bar{
    width: 40px !important;
}
.navbar-toggle .icon-bar + .icon-bar{
    margin-top: 7px !important;
}
.navbar-li{
    min-height: 70px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}
.navbar-a {
    min-height: 70px;
    line-height: 70px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-size: 18px;
    color:#000;
}
.navbar-a:after{
    content: '';
    position: absolute;
    border-bottom: 2px solid #000;
    bottom: 0;
    left: 0;
    right: 100%;
    transition: all 500ms;
}
.navbar-a:hover:after{
   right:0;
}


.navbar-a:hover{
    color:#191919;
}
.navbar{
    border-bottom-width: 1px;
    border-color: black;
}
.navbar-collapse{
    padding: 0;
}
body {
    padding-top: 70px;               /*Body top padding for the sliding topbar*/
    font-family: 'Nanum Gothic', sans-serif;
}

/*End of the navbar style*/



.div1 {
    background-image: url("/IMG/test4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
    padding: 0;
    position: relative
}
.div1BigText
{
    color:#fff;
    font-size: 75px;
    position: absolute;
    top: 39%;
    transform: translateY(-40%);
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
}
.Animationc
{
    border-right: 3px solid;
    animation: blink-caret .8s step-end infinite;
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
}

@media screen and (max-width: 765px), screen and (max-height : 500px){
    .div1{
        box-shadow: 0 4px 30px -2px gray;
    }
    .div1BigText{
        font-size: 50px;
    }
    .div1NormalText{
        font-size: 30px;
    }
}

svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
}
