
.div1{
    height: 100vh;
    background-color: #3D5AFE;
    overflow-y: scroll;
}
.div1Container{
    padding-top: 15%;
    padding-left: 8%;
}
.div1Little{
    margin-right: 20% !important
}
.div1NavigatorContainer{
    width: 100%;
    text-align: center;
}
.div1Navigator{
    padding-top: 5%;
}
.div1Navigator :hover{
    cursor: pointer;
    padding-top: 0.3%;
}
.div1SmallText{
    margin: 0px;
    font-family: 'Varela Round', Adobe Blank;
    color:#fff;
    font-size: 250%;
}
.div1MediumText{
    font-size: 500%;
    margin: 0px;
    font-family: 'Varela Round', Adobe Blank;
    color:#fff;
}
.div1BigText{
    margin: 0px;
    font-family: 'Varela Round', Adobe Blank;
    color:#fff;
    font-size: 1500%;
}

.div2{
    height: 100vh;
    background-color: #283593;
    overflow-y: scroll;
}
.div2Container{
    padding: 5%;
}
.div2DescContainer{
    padding-top: 3%;
    padding-left: 425px;
}
.div2ImageContainer{
    height: 100%;
    float: left;
}
.div2NavigatorContainer{
    width: 100%;
    text-align: center;
}
.div2Navigator{
    padding-top: 5%;
}
.div2Navigator :hover{
    cursor: pointer;
    padding-top: 0.3%;
}
.div2Image{
    width: 400px;
    height: 400px;
    background-image: url('me.png');
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
    border: solid;
    border-width: 2px;
    border-color: #FFC107;
}
.div2MediumText{
    margin: 0px;
    font-family: 'Varela Round', Adobe Blank;
    color:#fff;
    font-size: 220%;
}
.div2BigText{
    margin: 0px;
    font-family: 'Varela Round', Adobe Blank;
    color:#fff;
    font-size: 1200%;
}


.div2AboutContainer{
    width: 100%;
}
.div2TextContainer{
    width: 100%;
}



.div3{
    height: 100vh;
    overflow-y: scroll;
}
.div3Navigatorr{
    position: absolute;
    bottom: 5%;
    right: 5%;
}
.div3Navigatorl{
    position: absolute;
    top: 5%;
    left: 5%;
}
.div3NavigatorContainer{
    width: 100%;
    height: 100%;
}
.div3Navigator :hover{
    cursor: pointer;
    padding-top: 0.3%;
}

.curtain__wrapper {
    width: 100%;
    height: 100%;
}
.div3Curtain {
    background: #283593;
    width: 50%;
    min-height: 100vh;
    float: left;
    position: relative;
    z-index: 2;
    transition: all 1s ease-out;
}
.div3LeftContent{
    width: 80%;
    padding-left: 20%;
    padding-top: 20%;
    padding-bottom: 20%;
}

.curtain__panel--left {

}
.div3FirstIcon{
    height: 250px;
}
.curtain__panel--right {
    /* Styles for sliding the right panel */
}
.div3Curtain__prize {
    background: #1A237E;
    position: absolute; /* Forces the prize position into the container start */
    z-index: 1; /* Places the prize behind the panels, which are z-index 2 */
    width: 99%;
    height: 100vh;
}
.div3Icon{
    color: #fff;
    font-size:600% ;
    text-shadow: 2px 2px 2px #000;
}

.div3IconText{
    color: #fff;
    font-size:250% ;
    font-family: 'Varela Round', Adobe Blank;
    text-shadow: 2px 2px 2px #000;
}

.div3SecondIcon{

}
.div3Myskills{
    color: #fff;
    font-size:1000% ;
    font-family: 'Varela Round', Adobe Blank;
    margin: 0px;
    margin-bottom: 5%;
}
.div3RightContent{

    width: 80%;
    padding-right: 20%;
    padding-top: 20%;
    padding-bottom: 20%;

}


/*Mobile Phone*/
@media only screen and (min-width : 10px) and (max-width : 650px) and (max-height: 1000px){

    .div1SmallText{
        font-size: 150%!important;
    }
    .div1MediumText{
        font-size: 200% !important;
    }
    .div1BigText{
        font-size: 400%!important;
    }
    .div1Container{
        padding-top: 25%!important;
    }
    .div1Navigator{
        padding-top: 10%;
    }
    .div2MediumText{
        font-size: 120%;
    }
    .div2BigText{
        font-size: 400%;
    }
    .div2Image{
        width:150px;
        height: 150px;
    }
    .div2ImageContainer{
        margin-right: 2%;
    }
    .div2DescContainer{
        padding-left: 0px;
    }
    .div2TextContainer{
        padding-top: 5%;
    }
    .div2NavigatorContainer{
        padding-top: 5%;
    }
    .div3Myskills{
        font-size: 400%;
    }
    .div3Icon{
        font-size: 430%;
    }
    .div3IconText{
        font-size: 150%;
    }
}
/*Tablet*/
@media only screen and (min-width : 10px) and (max-width : 650px) and (min-height: 1000px){

    .div1SmallText{
        font-size: 150%!important;
    }
    .div1MediumText{
        font-size: 200% !important;
    }
    .div1BigText{
        font-size: 400%!important;
    }
    .div1Container{
        padding-top: 15%!important;
    }
    .div1Navigator{
        padding-top: 10%;
    }
    .div2MediumText{
        font-size: 200%;
    }
    .div2BigText{
        font-size: 600%;
    }
    .div2Image{
        width:260px;
        height: 260px;
    }
    .div2ImageContainer{
        margin-right: 2%;
    }
    .div2DescContainer{
        padding-left: 0px;
    }
    .div2TextContainer{
        padding-top: 10%;
    }
    .div2NavigatorContainer{
        padding-top: 5%;
    }
}
/*Small pc*/
@media only screen and (min-width : 650px) and (max-width : 1050px) {

    .div1SmallText{
        font-size: 250%!important;
    }
    .div1MediumText{
        font-size: 300% !important;
    }
    .div1BigText{
        font-size: 550%!important;
    }
    .div1Container{
        padding-top: 10%!important;
    }
    .div1Navigator{
        padding-top: 10%;
    }
    .div2MediumText{
        font-size: 220%;
    }
    .div2BigText{
        font-size: 700%;
    }
    .div2Image{
        width:300px;
        height: 300px;
    }
    .div2ImageContainer{
        margin-right: 2%;
    }
    .div2DescContainer{
        padding-left: 0px;
    }
    .div2TextContainer{
        padding-top: 2%;
    }
    .div2NavigatorContainer{
        padding-top: 2%;
    }
    .div3Myskills{
        font-size: 700%;
    }
    .div3Icon{
        font-size: 550%;
    }
    .div3IconText{
        font-size: 200%;
    }
}
/*Medium pc*/
@media only screen and (min-width : 1050px) and (max-width : 1270px) {
    .div1SmallText{

        font-size: 200%!important;
    }
    .div1MediumText{
        font-size: 400% !important;
    }
    .div1BigText{
        font-size: 1250%!important;
    }
    .div1Container{
        padding-top: 25%!important;
    }
    .div1Navigator{
        padding-top: 18%;
    }
    .div2MediumText{
        font-size: 200%;
    }
    .div2BigText{
        font-size: 1100%;
    }
    .div2Image{
        width:350px;
        height: 350px;
    }
    .div2DescContainer{
        padding-left: 375px;
    }
}

.Amber{
    color:#FFC107;
}
.Toggle{
    display: none;
}





.center{
    text-align: center;
}
.lilslide
{
    float: left;
    height: 100vh;
    width: 100vw;
}
.holder{
    width: 340%;
    overflow-y:hidden;
}

